<div class="container">
	<h2>Apply to Maven</h2>
	<%= simple_form_for(resource, :as => resource_name, 
																:url => registration_path(resource_name), 
																:html => {:class => 'form-vertical'}) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.input :full_name, :autofocus => true %>
	  <%= f.input :email %>
	  <%= f.input :phone %>
		<%= f.input :birthday %>
	  <%= f.input :password %>
	  <%= f.input :password_confirmation %>

	  <fieldset>
		  <%= f.input :linkedin %>
		  <%= f.input :employer %>
		  <%= f.input :job_title %>
		  <%= f.input :job_description, as: :text, input_html: { rows: 5 } %>
		  <%= f.input :hobbies, as: :text, input_html: { rows: 5 } %>
		  <%= f.input :resume %>
	  </fieldset>

	  <%= f.submit "Sign up", class: "btn" %>
	<% end %>

	<%= render "devise/shared/links" %>
</div>