<div class="dark center">
	<div class="container">
		<div class="row">
			<h2 class="span12 bitter">Apply to Maven</h2>
		</div>
	</div>
</div>

<div class="container" style="padding: 40px 0;">
	<%= simple_form_for(resource, :as => resource_name, 
																:url => registration_path(resource_name), 
																:html => {:class => 'form-vertical'}) do |f| %>
	  <%= devise_error_messages! %>
	  <fieldset>
	  	<legend>Account Information</legend>
		  <%= f.input :full_name, :autofocus => true %>
		  <%= f.input :email %>
		  <%= f.input :phone %>
			<%= f.input :birthday, as: :date, order: [:month, :day, :year], start_year: Date.today.year - 90, end_year: Date.today.year %>
		  <%= f.input :password %>
		  <%= f.input :password_confirmation %>
		</fieldset>

		<hr>

	  <fieldset>
	  	<legend>About Your Work</legend>
		  <%= f.input :linkedin, label: "LinkedIn Profile URL" %>
		  <%= f.input :employer %>
		  <%= f.input :job_title %>
		  <%= f.input :job_description, as: :text, label: "What do you currently do for work?", input_html: { rows: 5 } %>
		  <%= f.input :hobbies, as: :text, label: "What are three things you like to do outside of work?", input_html: { rows: 5 } %>
		  <%= f.input :resume, label: "Please upload the most recent version of your resume. (optional)" %>
	  </fieldset>

		<hr>

	  <fieldset>
	  	<legend>Networking Goals</legend>
	  	<%= f.input :networking_goals, as: :check_boxes, collection: ['Find a job', 'Meet potential hires', 'Sell my product or service', 'Grow my business', 'Find business partners', 'Talk with investors', 'Learn more about my industry', 'Learn more about a new industry', 'Learn about different careers', 'Just moved to a new city', 'Meet new friends', 'Find mentors', 'Open doors', 'Talk with interesting people', 'Expand my network', 'Other'], label: "Why are you interested in Maven?" %>
	  	<%= f.input :job_search_status, as: :radio_buttons, collection: ["Yes – actively searching", "Yes - it's not urgent", "Maybe - I'm open to new opportunities", "No - not right now", "No - I love my job"], label: "Are you looking for a new job?" %>
		  <%= f.input :match_preferences, as: :check_boxes, collection: ["Mentees (typically professionals who are more junior)", "Peers (typically professionals who are at a similar level)", "Mentors (typically professionals who are more senior)"], label: "What type of people are you interested in meeting through Maven?" %>
		  <%= f.input :industry_interests, as: :check_boxes, collection: ['Agriculture', 'Accounting', 'Advertising', 'Aerospace', 'Apparel & Accessories', 'Automotive', 'Banking', 'Broadcasting', 'Business', 'Computer Science', 'Consumer Products', 'eCommerce', 'Education', 'Energy', 'Entertainment', 'Finance', 'Food & Beverage', 'Health Care', 'Information Technology', 'Legal', 'Management Consulting', 'Manufacturing', 'Music', 'Pharmaceuticals', 'Private Equity', 'Publishing', 'Real Estate', 'Retail & Wholesale', 'Software', 'Sports', 'Startups', 'Technology', 'Telecommunications', 'Travel', 'Venture Capital'], label: "What industries are you interested in discussing?" %>

		  <%= f.input :why_interested, as: :text, input_html: { rows: 5 }, label: "In your own words, why do you want to join Maven? The more specific you are, the better we are able to match you." %>
	  </fieldset>

		<hr>

	  <fieldset>
	  	<legend>Availability</legend>
	  	<%= f.input :coffee_or_lunch, as: :radio_buttons, collection: ["Coffee", "Lunch", "I don't care"], label: "Do you prefer coffee or lunch meetings?" %>
		  <%= f.input :times, as: :check_boxes, collection: ["7:00 am", "8:00 am", "9:00 am", "10:00 am", "11:00 am", "12:00 am", "1:00 pm", "2:00 pm", "3:00 pm", "4:00 pm", "5:00 pm"], label: "What times work best for you for a coffee meeting?" %>
		  <%= f.input :neighborhoods, as: :check_boxes, collection: ["Gold Coast", "Lakeview", "Lincoln Park", "Loop", "River North", "River West", "South Loop", "West Loop", "Wicker Park"], label: "In which of the following Chicago neighborhood(s) would you like to you meet?" %>
		  <%= f.input :questions, as: :text, input_html: { rows: 5 }, label: "Any questions or concerns?" %>
	  </fieldset>

	  <%= f.submit "Sign up", class: "btn" %>
	<% end %>

	<%= render "devise/shared/links" %>
</div>