<div class="green center">
	<div class="container">
		<div class="row">
			<h2 class="span12 bitter">Apply to Loop</h2>
		</div>
	</div>
</div>


<%= simple_form_for(resource, :as => resource_name,
																:url => registration_path(resource_name),
																:html => {:class => 'form-horizontal'}) do |f| %>
  <div class="container" style="padding: 40px 0;">
	  <%= devise_error_messages! %>
	  <fieldset>
	  	<legend>Account Information</legend>
		  <%= f.input :full_name, :autofocus => true, input_html: { value: (resource.full_name == " " ? "" : resource.full_name) } %>
		  <%= f.input :email %>
		  <%= f.input :phone %>

			<%= f.input :birthday, :label => "Date of Birth", as: :date, order: [:month, :day, :year], start_year: Date.today.year - 90, end_year: Date.today.year, input_html: {class: 'span1' } %>
		  <%#= f.input :password %>
		  <%#= f.input :password_confirmation %>

      <%= f.input :linkedin, label: "LinkedIn Profile URL" %>
      <%= f.input :hobbies, as: :text, label: "What are three things you like to do outside of work?", input_html: { rows: 5 } %>

		</fieldset>

		<hr>

<!-- 	  <fieldset>
	  	<legend>About You</legend>

		  <%#= f.input :employer %>
		  <%#= f.input :job_title %>
		  <%#= f.input :job_description, as: :text, label: "Job Description", input_html: { rows: 5 } %>

	  </fieldset>

		<hr> -->

	  <fieldset>
	  	<legend>Networking Goals</legend>
      <div class="control-group check_boxes required user_networking_goals">
        <label class="check_boxes required control-label">
          <abbr title="required">*</abbr> Why are you interested in Loop?
        </label>
        <div class="controls">
          <table class="table">
            <% ['Find a job', 'Meet potential hires', 'Sell my product or service', 'Grow my business', 'Find business partners', 'Talk with investors', 'Learn more about my industry', 'Learn more about a new industry', 'Learn about different careers', 'Just moved to a new city', 'Meet new friends', 'Find mentors', 'Open doors', 'Talk with interesting people', 'Expand my network', 'Other'].in_groups_of(4) do |row_items| %>
              <tr>
                <% for item in row_items %>
                  <td>
                    <% unless item.blank? %>
                    <label class="checkbox">
                      <%= check_box_tag "user[networking_goals][]", item, (resource.networking_goals.nil? ? false : resource.networking_goals.include?(item)) %>
                      <%= item %>
                    </label>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <%#= f.input :job_search_status, as: :radio_buttons, collection: ["Yes – actively searching", "Yes - it's not urgent", "Maybe - I'm open to new opportunities", "No - not right now", "No - I love my job"], label: "Are you looking for a new job?" %>

      <%#= f.input :match_preferences, as: :check_boxes, collection: ["Mentees (typically professionals who are more junior)", "Peers (typically professionals who are at a similar level)", "Mentors (typically professionals who are more senior)"], label: "What type of people are you interested in meeting through Loop?" %>
      <br>


      <%= f.input :why_interested, as: :text, input_html: { rows: 5 }, label: "In your own words, why do you want to join Loop? The more specific you are, the better we are able to match you." %>
	  </fieldset>

		<hr>

	  <fieldset>
	  	<legend>Availability</legend>
	  	<%#= f.input :coffee_or_lunch, as: :radio_buttons, collection: ["Coffee", "Lunch", "I don't care"], label: "Do you prefer coffee or lunch meetings?" %>

      <div class="control-group check_boxes required user_times">
        <label class="check_boxes required control-label">
          <abbr title="required">*</abbr> What times work best for you?
        </label>
        <div class="controls">
          <table class="table">
            <% ["7:00 am", "8:00 am", "9:00 am", "10:00 am", "11:00 am", "12:00 pm", "1:00 pm", "2:00 pm", "3:00 pm", "4:00 pm", "5:00 pm", "6:00 pm"].in_groups_of(3) do |row_items| %>
              <tr>
                <% for item in row_items %>
                  <td>
                    <% unless item.blank? %>
                    <label class="checkbox">
                      <%= check_box_tag "user[times][]", item, (resource.times.nil? ? false : resource.times.include?(item))  %>
                      <%= item %>
                    </label>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="control-group check_boxes required user_neighborhoods">
        <label class="check_boxes required control-label">
          <abbr title="required">*</abbr> In which of the following Chicago neighborhood(s) would you like to you meet?
        </label>
        <div class="controls">
          <table class="table">
            <% ["Gold Coast", "River North", "River West", "Loop", "West Loop", "Wicker Park"].in_groups_of(3) do |row_items| %>
              <tr>
                <% for item in row_items %>
                  <td>
                    <% unless item.blank? %>
                    <label class="checkbox">
                      <%= check_box_tag "user[neighborhoods][]", item, (resource.neighborhoods.nil? ? false : resource.neighborhoods.include?(item))  %>
                      <%= item %>
                    </label>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

		  <%= f.input :questions, as: :text, input_html: { rows: 5 }, label: "Anything else you'd like to tell us?" %>

      <%= f.input :referral, as: :text, input_html: { rows: 5 }, label: "How did you hear about us?" %>

	  </fieldset>
  </div>

  <div class="blue" style="margin-bottom: -50px;">
    <div class="container" style="padding: 0px 0;">
      <fieldset>

        <div class="control-group">
          <div class="controls">
            <%= f.submit "Apply", class: "apply-button button-dark offset3", style: " border-top: none; border-left: none; border-right: none;" %>
            <br><br>

            <%#= render "devise/shared/links" %>

          </div>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>