<div class="dark center">
	<div class="container">
		<div class="row">
			<h2 class="span12 bitter">Forgot your password?</h2>
		</div>
	</div>
</div>
<div class="container" style="padding-top: 50px;">
	<div class="row">
		<div class="span4 offset4">
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			  <div><%= f.label :email, class: "center" %>
			  <%= f.email_field :email, :autofocus => true, class: "span4" %></div>
				
				<div><%= f.submit "Send instructions", class: "apply-button button-dark span4", style: "border-top: none; border-left: none; border-right: none; width: 100%; margin: 20px 0;" %></div>
			  
			<% end %>
			<div class="center">
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>