.navbar.no-margin
  .navbar-inner
    .container
      = link_to image_tag('loop-header-logo.png', style: "height: 55px;"), root_url, class: 'brand'
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav.pull-right
          - if params[:controller] == "home" && params[:action] == "landing_page"
            %li= link_to "LEARN MORE", "#expand", :class => "scroll"
            %li= link_to "PRICING", "#pricing", :class => "scroll"
            %li= link_to "APPLY", "#pricing", :class => "scroll"
          - else
            %li= link_to "PEOPLE", href="http://people.loopmeetings.com"
            %li= link_to "MEETINGS", meetings_path
            %li= link_to "EVENTS", events_path
            %li= link_to "MEMBERSHIP", membership_path
            %li= link_to "JOIN", apply_path
/            %li= link_to "GET INVITED", "#InviteModal", "data-toggle" => "modal"

<div id="InviteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="InviteModalLabel" aria-hidden="true">
<div class="headerlabel">   
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><center>          
</div>
<div class="modal-body" max-height: 800px;>  
 
#outer{style: "width: 100%;"}
  #formstack{style: "margin-bottom: 0px; margin-top: 0px; box-shadow: 0px 0px 0px #888888;"}
    %script{src: "https://www.formstack.com/forms/js.php?no_style=1&form=1660392&viewkey=Jfj2l0krMF&style_version=v3", type: "text/javascript"}
    %noscript
      %a{href: "https://www.formstack.com/forms/?1660392-Jfj2l0krMF", title: "Online Form"} Online Form
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>