.navbar.no-margin
  .navbar-inner
    .container
      = link_to image_tag('loop-header-logo.png', style: "height: 55px;"), root_url, class: 'brand'
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav.pull-right
          - if params[:controller] == "home" && params[:action] == "landing_page"
            %li= link_to "LEARN MORE", "#expand", :class => "scroll"
            %li= link_to "PRICING", "#pricing", :class => "scroll"
            %li= link_to "APPLY", "#pricing", :class => "scroll"
          - else
            - if params[:controller] == "home" && params[:action] == "index"
              %li= link_to "HOW IT WORKS", "#howitworks", class: "scroll"
            - else
              %li= link_to "HOW IT WORKS", root_url+"#howitworks"
            %li= link_to "FAQS", learn_more_path
            %li= link_to "BLOG", href="http://blog.loopmeetings.com"
            %li= link_to "APPLY", new_user_registration_path

