#footer
  .container
    .row.uppercase
      .span4
        %p= raw("&copy; Copyright Maven ") + Time.zone.now.year.to_s
      .span4.center
        %p= image_tag "footer-logo.png"
      .span4{style: "text-align: right;"}
        %p
          = link_to "How it Works", "#howitworks", class: "scroll"
          = link_to "Learn More"
          = link_to "Apply"