#footer{style: "height: 140px;"}
  .container
    .row.uppercase
      .span4
        %p Say Hi.
        hello@loopmeetings.com 
        %br
        1-847-238-2576
        %br
        = link_to image_tag('twitter-icon.png'), "http://www.twitter.com/loopmeetings", :target => :_blank
        &nbsp
        = link_to image_tag('facebook-icon.png'), "http://www.facebook.com/loopmeetings", :target => :_blank
        &nbsp
        = link_to image_tag('instagram-icon.png'), "http://www.instagram.com/loopmeetings", :target => :_blank
        &nbsp
        = link_to image_tag('googleplus-icon.png'), "https://plus.google.com/105430766722834482247", :target => :_blank

      .span4.center
        %p= image_tag "loop-footer-logo.png"
        

      .span4{style: "text-align: right;"}
        %p
          = link_to "ABOUT", about_path
          = link_to "BLOG", "http://blog.loopmeetings.com"
          = link_to "FAQS", faqs_path
          = link_to "JOIN ", apply_path
        %br
        %p= raw("&copy; Copyright Loop ") + Time.zone.now.year.to_s