.green.center
	.container
		.row
			%h2.span12.bitter Life is short. You should love your career.
.light{style: "padding-bottom:5px;"}
	.container
		.row
			%p{style:"margin-left: 50px"} #{link_to "Click here to go back.", membersonly_path}
.light{style:"padding-top:0px;"}
	.container#pricing.center
		%h1.bitter{style: "color: #003939; margin-bottom: 10px;"}Membership Options
		%table.table.table-bordered#pricing_table{style: "width: 800px;"}
			%thead
				%tr
					%th{ :style => "background: #52898c; width: 250px;" } What's Included?
					%th.black-cell{ :style => "background: #d6eef0; width: 80px;" } Free
					%th{ :style => "background: #709ea0; width: 100px;"} 
						Monthly 
						%br

					%th{ :style => "background: #52898c; width: 100px;"} Annual
			%tbody
				%tr
					%td.right{ :style => "background: #52898c; text-align: right"}
					%td.black-cell{ :style => "background: #d6eef0;"}
						%span.meeting-number 
					%td{ :style => "background: #709ea0;"}
						= link_to "Select", monthlymembership_path, class: "apply-button", style: "margin-left:0px;"
					%td{ :style => "background: #52898c;"}
						= link_to "Select", annualmembership_path, class: "apply-button", style: "margin-left:0px;"
				%tr
					%td.right{ :style => "background: #427c7e; text-align: right"}Access to the Loop Community
					%td.black-cell{ :style => "background: #cae2e4;"}
						%span.meeting-number X
					%td{ :style => "background: #629293;"}
						%span.meeting-number X
					%td{ :style => "background: #427c7e;"}
						%span.meeting-number X
				%tr
					%td.right{ :style => "background: #52898c;"}Invitations to Loop Events
					%td.black-cell{ :style => "background: #d6eef0;"}
						%span.meeting-number X
					%td{ :style => "background: #709ea0;"}
						%span.meeting-number X
					%td{ :style => "background: #52898c;"}
						%span.meeting-number X
				%tr
					%td.right{ :style => "background: #f55f46;"}Loop Meetings
					%td.black-cell{ :style => "background: #ffa094;"}
					%td{ :style => "background: #ff7c6e;"}Unlimited
					%td{ :style => "background: #f55f46;"}Unlimited
				%tr
					%td.right{ :style => "background: #52898c;"}Free/Discounted Tickets to Events
					%td.black-cell{ :style => "background: #d6eef0;"}
					%td{ :style => "background: #709ea0;"}
						%span.meeting-number X
					%td{ :style => "background: #52898c;"}
						%span.meeting-number X
				%tr
					%td.right{ :style => "background: #427c7e;"}Office Tours
					%td.black-cell{ :style => "background: #cae2e4;"}
					%td{ :style => "background: #629293;"}
						%span.meeting-number X
					%td{ :style => "background: #427c7e;"}
						%span.meeting-number X
				%tr
					%td.right{ :style => "background: #52898c;"}  
						Career Consultation
						%br
						(Phone call with Loop team member)
					%td.black-cell{ :style => "background: #d6eef0;"}
					%td{ :style => "background: #709ea0;"}
					%td{ :style => "background: #52898c;"}
						%span.meeting-number X
				%tr
					%td{ :style => "padding-top:5px; background: #427c7e;"}
					%td.black-cell{ :style => "padding-top:5px; background: #cae2e4;"}
						%br
						$
						%span.dollar-number 0
						%br
						Free!
					%td{ :style => "padding-top:5px; background: #629293;"}
						%br
						$
						%span.dollar-number 5
						\/month
						%br
						30 Days Free
					%td{ :style => "padding-top:5px; background: #427c7e;"}
						%br
						$
						%span.dollar-number 50
						\/year
						%br
						30 Days Free
				%tr
					%td.right{ :style => "background: #427c7e; text-align: right"}
					%td.black-cell{ :style => "background: #cae2e4;"}
						%span.meeting-number 
					%td{ :style => "background: #629293;"}
						= link_to "Select", monthlymembership_path, class: "apply-button", style: "margin-left:0px;"
					%td{ :style => "background: #427c7e;"}
						= link_to "Select", annualmembership_path, class: "apply-button", style: "margin-left:0px;"
.light{style: "padding-top:0px;"}
	.container#learn-more
		.row.center
			.span12
				%p Or downgrade or cancel your memberhsip #{ link_to "here.", cancel_path}