.green.center
	.container
		.row
			%h2.span12.bitter Coffee or beer (or both).
.light{style: "padding:0px 0;"}
	.container#learn-more
		.row
			%h1.span12.bitter{style: "margin-top: 10px; margin-bottom: 10px; margin-left: 30px;"} Loop Meetings
		.row
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_monthly.png'), monthly_path
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_140402.png'), meetingtwo_path
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_140507.png'), meetingthree_path
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_140604.png'), meetingone_path
		.row
			%h1.span12.bitter{style: "margin-bottom: 10px; margin-left: 30px;"} Upcoming Loop Events
		.row
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('juniorboard_140325.png'), href="http://www.eventbrite.com/e/junior-board-night-get-involved-with-chicago-non-profits-tickets-10869144905", :target=>"_blank"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('threadless_140328.png'), href="http://loopofficetouratthreadless.splashthat.com/", :target=>"_blank"
		.row
			%h1.span12.bitter{style: "margin-bottom: 10px; margin-left: 30px;"} Past Loop Events
		.row
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('braintree_140110.png'), href="http://www.eventbrite.com/e/loop-office-tour-braintree-tickets-9936244575"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('google_140117.png'), href="http://www.eventbrite.com/e/loop-office-tour-lunch-google-chicago-tickets-9937498325"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopspeaker_140122.png'), href="http://www.eventbrite.com/e/loop-speaker-winter-bike-commuting-for-beginners-with-brian-morrissey-tickets-9965961459"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('happyhour_140123.png'), href="https://www.eventbrite.com/e/wingman-happy-hour-tickets-9949712859"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('fairlife_140124.png'), href="http://www.eventbrite.com/e/loop-office-tour-fairlife-believeinbetter-tickets-9937708955"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('juniorboard_140128.png'), href="https://www.eventbrite.com/e/junior-board-night-learn-how-to-get-involved-with-chicago-non-profits-tickets-9964850135"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopspeaker_140130.png'), href="https://www.eventbrite.com/e/loop-speaker-top-10-networking-dos-and-donts-with-jenny-fukumoto-tickets-9966081819"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('trunkclub_140213.png'), href="http://loopofficetourattrunkclub.splashthat.com/"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('giveforward_140227.png'), href="http://loopofficetouratgiveforward.splashthat.com/", :target=>"_blank"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('digitas_140307.png'), href="http://loopofficetouratdigitas.splashthat.com/", :target=>"_blank"
.light{style: "padding: 5px;"}
	.container#learn-more
		.row
			%h1.span12.bitter{style: "margin-bottom: 10px; margin-left: 30px;"} Sign up for our event newsletter
#outer{style: "width: 100%;"}
	#formstack{style: "width: 450px; margin-bottom: 20px; border-width: 1px; border-color: #d3d3d3;"}
		%script{src: "https://www.formstack.com/forms/js.php?no_style=1&form=1652718&viewkey=8ACnDSIEa4&style_version=v3", type: "text/javascript"}
		%noscript
			%a{href: "https://www.formstack.com/forms/?1652718-8ACnDSIEa4", title: "Online Form"} Online Form - Newsletter Signup
.dark	
	.container#learn-more			
		.row{style: "color: #ffffff;"}
			.span12
				%h1.bitter{style: "color: #ffffff;"} How do I sign up?
				%p Loop Members can sign up #{link_to "here", membersonly_path}. If you're not a Loop member yet, you're invited to sign up for events that indicate "All Are Welcome". Join Loop to sign up for all events.
.blue	
	.container#learn-more		
		.row{style: "color: #ffffff;"}
			.span12
				%h1.bitter{style: "color: #ffffff;"}Have an idea for a Loop event?
				%p
					We'd love to hear from you. Email us at
					= mail_to "hello@loopmeetings.com"
					if you would like to host an event or if you have any suggestions.
				%br