.green.center
	.container
		.row
			%h2.span12.bitter Coffee or beer (or both).
.light{style: "padding:10px 0;"}
	.container#learn-more
		.row
			%h2.span12.bitter{style: "color: #003939; margin-bottom: 0px; margin-left: 30px; font-size: 35px;"} Loop Meetings
			%p{style: "margin-left: 30px; margin-bottom: 20px;"}Get matched, grab coffee, and actually get to know relevant people. Learn more #{link_to "here", meetings_path}.
		.row{style: "margin-left: 100px;"}
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "loopmeeting_monthly.png"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "loopmeeting_140108.png"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "loopmeeting_140115.png"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "loopmeeting_140122.png"
		.row
			%h2.span12.bitter{style: "color: #003939; margin-bottom: 0px; margin-left: 30px; font-size: 35px;"} Loop Events
			%p{style: "margin-left: 30px; margin-bottom: 20px;"}Reconnect, learn, and discover opportunites in a relaxed environment.
		.row{style: "margin-left: 100px;"}
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "braintree_140110.png"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "google_140117.png"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "loopspeaker_140122.png"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "happyhour_140123.png"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "fairlife_140124.png"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "juniorboard_140128.png"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= image_tag "loopspeaker_140130.png"
		%br
		%br
.dark	
	.container#learn-more			
		.row{style: "color: #ffffff;"}
			.span12
				%h1.bitter{style: "color: #ffffff;"} How do I sign up?
				%p If you're interested in one of the events above, click 'View Event' to sign up. If you're a Loop member, you can sign up for all of our events. If you're not a Loop member yet, you're invited to sign up for events that indicate "All Are Welcome". Join #{link_to "here", apply_path} to sign up for all events.
.blue	
	.container#learn-more		
		.row{style: "color: #ffffff;"}
			.span12
				%h1.bitter{style: "color: #ffffff;"}Have an idea for a Loop event?
				%p
					We'd love to hear from you. Email us at
					= mail_to "hello@loopmeetings.com"
					if you would like to host an event or if you have any suggestions.
				%br