.green.center
	.container
		.row
			%h1.span12.bitter Welcome, Loop members! Let's have some fun.
.light{style: "padding:10px 0;"}
	.container
		.row.center
			%h2.span12.bitter{style: "color: #003939; margin-bottom: 20px; font-size: 35px;"} January
		.row{style: "margin-left: 100px;"}
			.span2{style: "width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px; margin-bottom:25px;"}
				= image_tag "loopmeeting3.png"
			.span2{style: "width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px; margin-bottom:25px;"}
				= image_tag "loopmeeting3.png"
			.span2{style: "width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px; margin-bottom:25px;"}
				= image_tag "loopmeeting3.png"
			.span2{style: "width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px; margin-bottom:25px;"}
				= image_tag "loopmeeting3.png"
			.span2{style: "width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px; margin-bottom:25px;"}
				= image_tag "loopworkshop1.png"
			.span2{style: "width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px; margin-bottom:25px;"}
				= image_tag "loopworkshop1.png"
			.span2{style: "width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px; margin-bottom:25px;"}
				= image_tag "loopworkshop1.png"
			.span2{style: "width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px; margin-bottom:25px;"}
				= image_tag "loopworkshop1.png"

.light.center{style: "padding: 20px;"}
	.container
		.row.center
			%h2.span12.bitter{style: "color: #003939; margin-bottom: 30px; font-size: 35px;"} February
		.row{style: "margin-left: 60px;"}			
			.span2{style: "margin-left: 50px; width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px;"}
				= image_tag "loopworkshop1.png"
			.span2{style: "margin-left: 50px; width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px;"}
				= image_tag "loopworkshop1.png"
			.span2{style: "margin-left: 50px; width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px;"}
				= image_tag "loopworkshop1.png"
			.span2{style: "margin-left: 50px; width: 200px; box-shadow: 10px 10px 5px #888888;border-style:solid; border-width:1px;"}
				= image_tag "loopworkshop1.png"	
.light.center{style: "padding: 20px;"}
	.container
		.row{style: "margin-left: 60px;	"}
			.span2{style: "margin-left: 50px; border-style:solid; border-width:1px;"}
				= image_tag "loopevent.png"
			.span2{style: "margin-left: 80px; border-style:solid; border-width:1px"}
				= image_tag "looptour.png"
			.span2{style: "margin-left: 80px; border-style:solid; border-width:1px"}
				= image_tag "loopexpert.png"
			.span2{style: "margin-left: 80px; border-style:solid; border-width:1px"}
				= image_tag "loopevent.png"
.light.center{style: "padding: 20px;"}
	.container
		.row.center
			%h2.span12.bitter{style: "color: #003939; margin-bottom: 30px; font-size: 35px;"} February
		.row{style: "margin-left: 60px;	"}
			.span2{style: "margin-left: 50px; border-style:solid; border-width:1px"}
				= image_tag "loopevent.png"
			.span2{style: "margin-left: 80px; border-style:solid; border-width:1px"}
				= image_tag "looptour.png"
			.span2{style: "margin-left: 80px; border-style:solid; border-width:1px"}
				= image_tag "loopexpert.png"
			.span2{style: "margin-left: 80px; border-style:solid; border-width:1px"}
				= image_tag "loopevent.png"

