#hero
	.container
		.row
			%h1.span12.bitter Meet interesting professionals over coffee or lunch.
			%h4.span12.bitter Stop going to networking events. Make valuable connections in informal small-group settings.
			= link_to "GET MATCHED", new_user_registration_path, class: "apply-button"
			.clearfix
#hero-photo
%a#howitworks{name: "howitworks"}
.light.center
	.container
		.row
			%h2.span12.bitter How does it work?
		.row#how-it-works
			.span4.center
				%div{style: "padding: 0 20px;"}
					%h4.bitter Apply to Join
					= image_tag "apply.png"
					%p Connect through LinkedIn and tell us what type of introductions would help you most.
			.span4.center
				%div{style: "padding: 0 20px;"}
					%h4.bitter Get Matched
					= image_tag "matched.png"
					%p We’ll match you with two other professionals who we think you’d benefit from meeting.
			.span4.center
				%div{style: "padding: 0 20px;"}
					%h4.bitter Meet New People
					= image_tag "meet.png"
					%p For just $10, we’ll set you up for coffee or lunch and great conversation.
.dark.center
	.container
		.row
			%h2.span12.bitter You’ll make new connections that could lead to…
		#make-connections
			.row
				.span4.center
					= image_tag "icon-excitingopportunities.png"
					%h4.bitter Exciting Opportunities
				.span4.center
					= image_tag "icon-industryknowledge.png"
					%h4.bitter New Industry Knowledge/Insights
				.span4.center
					= image_tag "icon-relevantcontacts.png"
					%h4.bitter Relevant Contacts
			.row{style: "margin-top: 20px;"}
				.span4.center
					= image_tag "icon-helpfulmentors.png"
					%h4.bitter Inspiring Mentors
				.span4.center
					= image_tag "icon-valuablepartnerships.png"
					%h4.bitter Valuable Partnerships
				.span4.center
					= image_tag "icon-innovativeideas.png"
					%h4.bitter Innovative Ideas
.light.center
	.container
		.row
			%h2.span12.bitter{style: "margin-bottom: 20px;"} Ready to join?
			= link_to "GET MATCHED", new_user_registration_path, class: "apply-button button-dark"
			%br
			%br
			= link_to "Or click here to learn more.", learn_more_path