#hero
	.container
		.row
			%h1.span12.bitter We help young professionals expand their networks through casual coffee meetings. 
			%h4.span12 Meet smart people, learn about different careers, and discover opportunities. 
		.row
			= link_to "Sign up for free", apply_path, class: "apply-button"
			.clearfix
#testimonials
	.container
		.row.center
			%br
			%h2.span12.bitter{style: "font-size: 30px;"} 100% of members want to go on another Loop Meeting.
		.row
			.span2
				= image_tag "testimonial-natalie.png"
			.span3.testimonial
				%div{ :style => "padding: 0 13px;" }
				%p Loop is the best way to meet other young professionals. No more awkward networking events for me!
				%span4.bitter{ :style => "font-weight: bold;" } - Angie, Creative Director
			.span2
				= image_tag "testimonial-tom.png"
			.span3.testimonial
				%div{ :style => "padding: 0 12px;" }
				%p Loop Meetings have been invaluable as an entreprenuer. I actually met one of my best employees through Loop.
				%span4.bitter{ :style => "font-weight: bold;" } - Tom, Entrepreneur
			.span2
				= image_tag "testimonial-sara.png"
			.span3.testimonial
				%div{ :style => "padding: 0 12px;" }
				%p I'm new to the city, and Loop has been helping me meet really great people quickly.
				%br
				%span4.bitter{ :style => "font-weight: bold;" } - Sara, Marketing Manager
.light.center
	.container
		.row
			%h2.span12.bitter{style: "font-size: 40px;"} How It Works
		.row#how-it-works
			.span4.center
				%div{style: "padding: 0 20px;"}
					%h4.bitter Select Your Time
					= image_tag "apply.png"
					%p We offer weekly meetings at 8am and 6pm. Select dates and times that work for you.
			.span4.center
				%div{style: "padding: 0 20px;"}
					%h4.bitter Get Matched
					= image_tag "matched.png"
					%p We’ll match you with two other professionals you’d benefit from meeting.
			.span4.center
				%div{style: "padding: 0 20px;"}
					%h4.bitter Meet New People
					= image_tag "meet.png"
					%p We’ll schedule a meeting for your group at a centrally located coffee shop.
.dark.center
	.container
		.row
			%h2.span12.bitter{style: "font-size: 40px;"} You Could Discover...
		#make-connections
			.row
				.span4.center
					= image_tag "icon-excitingopportunities.png"
					%h4.bitter Exciting Opportunities
				.span4.center
					= image_tag "icon-industryknowledge.png"
					%h4.bitter New Insights
				.span4.center
					= image_tag "icon-relevantcontacts.png"
					%h4.bitter Relevant Contacts
			.row{style: "margin-top: 20px;"}
				.span4.center
					= image_tag "icon-helpfulmentors.png"
					%h4.bitter Inspiring Mentors
				.span4.center
					= image_tag "icon-valuablepartnerships.png"
					%h4.bitter Valuable Partnerships
				.span4.center
					= image_tag "icon-innovativeideas.png"
					%h4.bitter Innovative Ideas
.blue.center
	.container
		.row
			%h2.span12.bitter{style: "font-size: 40px;"} Ready to Join?
		.row{style: "margin-top: 5px; text-decoration: none"}
			= link_to "Sign up for free", apply_path, class: "apply-button button-dark"
		.row{style: "font-size: 20px; margin-left: 8px;"}
			%br
			%p Or learn more about meetings #{ link_to 'here', meetings_path} or membership #{ link_to 'here', membership_path}.
