.green.center
	.container
		.row
			%h2.span12.bitter Put the business cards down. Actually get to know people.
.light
	.container#meetings
		.row
			.span12
				%h1.bitter{style: "margin-bottom: 10px;"} Select a Meeting Time 
		.row{style: "margin-left: 100px;"}
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_monthly.png'), monthly_path
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_140205.png'), meetingone_path
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_140212.png'), meetingtwo_path
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_140219.png'), meetingthree_path

		.row
			.span12
				%h1.bitter What are Loop Meetings?
				%p Loop Meetings are small-group coffee meetings between three young professionals who are matched together based on their professional interests. Our meetings last about an hour and are held at centrally located coffee shops.
				
		.row
			.span12
				%h1.bitter How does it work?
				%p <ul>
				%li <b>Apply for membership.</b> You'll tell us your professional interests and networking goals. Your first meeting is FREE!
				%li <b>Sign up for a Loop Meeting.</b> You can sign up as often as you'd like once you're a member.
				%li <b>Get matched.</b> We'll match you with two other Loop members that we think you should meet.
				%li <b>Receive meeting details and member bios.</b> We'll send you everything you need to know the day before your meeting. 
				%li <b>Enjoy conversation over coffee.</b> You'll get to know two interesting new people at your Loop Meeting.
		.row
			.span12
				%h1.bitter Why should I go on a Loop Meeting?
				%p There will come a time when you'll need help with something, need to hire someone, need to find a new job, or need a contact to grow your business. Don't wait until the pressure's on to start building relationships. You should start now.
				%br
		.row.center
			= link_to "REQUEST INVITE", "#InviteModal", "data-toggle" => "modal", class: "apply-button", style: "background: #f55f46;"
.blue	
	.container#learn-more		
		.row{style: "color: #ffffff;"}
			.span12
				%h1.bitter{style: "color: #ffffff;"} Questions?
				%p
					We'd love to hear from you. Email us at
					= mail_to "hello@loopmeetings.com"
					if you have any questions, suggestions, or just want to say hi.
				%br
