.green.center
	.container
		.row
			%h2.span12.bitter Welcome to the community. Let's get Looping.
.light
	.container#meetings
		.row
			.span12
				%h1.bitter Upgrade Membership
				%p Annual Members receive unlimited Loop Meetings for just $29. #{ link_to 'Upgrade to an Annual Membership here.', upgrade_path}
		.row
			.span12
				%h1.bitter Sign Up for a Loop Meeting
				%p <ul>
				%li #{ link_to 'Wednesday, November 6th at 8am and 6pm', meetingone_path}
				%li #{ link_to 'Wednesday, November 13th at 8am and 6pm', meetingtwo_path}
				%li #{ link_to 'Wednesday, November 20th at 8am and 6pm', meetingthree_path}
				%li #{ link_to 'Wednesday, December 4th at 8am and 6pm', meetingfour_path}
				</ul>
				%p <b>Recommended:</b> #{ link_to 'Sign up for a monthly meeting', monthly_path}
				%p{style: "font-size:16px;"} (You can always cancel or change your date if something comes up.)	
		.row
			.span12
				%h1.bitter Change Personal Information
				%p Have your personal information or professional interests changed? #{ link_to "Tell us what's changed here.", update_path}
