
.green.center
	.container
		.row
			%h2.span12.bitter Welcome to the community. Let's get Looping.
.light{style: "padding:10px 0;"}
	.container#learn-more
		.row
			.span12
				%h1.bitter Sign up for Loop Meetings
		.row{style: "margin-left: 100px;"}
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_monthly.png'), monthly_path
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_140305.png'), meetingone_path
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_140402.png'), meetingtwo_path
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('loopmeeting_140507.png'), meetingthree_path
		.row
			.span12
				%h1.bitter Sign up for Loop Events
		.row{style: "margin-left: 100px;"}
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('giveforward_140227.png'), href="http://loopofficetouratgiveforward.splashthat.com/", :target=>"_blank"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('digitas_140307.png'), href="http://loopofficetouratdigitas.splashthat.com/", :target=>"_blank"
			.span2{style: "width:200px; box-shadow: 10px 10px 5px #888888; margin-bottom:25px;"}
				= link_to image_tag('threadless_140328.png'), href="http://loopofficetouratthreadless.splashthat.com/", :target=>"_blank"
		.row
			.span12
				%h1.bitter Past Loop Meetings
				%p Lost a business card? Need a reminder? #{ link_to "Email us to see who you've looped with.", "mailto:hello@loopmeetings.com?Subject=Show me my Loop Meetings!", :target => :_blank}
		.row
			.span12
				%h1.bitter Change Personal Information
				%p Has your personal or professional information changed? #{ link_to "Tell us what's changed here.", update_path}
		.row
			.span12
				%h1.bitter Join Our LinkedIn Group
				%p Want to talk with other Loop members? #{ link_to "Join our Members Only LinkedIn community.", href="http://www.linkedin.com/groups?home=&gid=6534322", :target => :_blank}
		%br
		.row
			.span12
				%p Cancel your membership #{ link_to "here.", cancel_path}