.green.center
	.container
		.row
			%h2.span12.bitter Welcome to the community. Let's get Looping.
.light
	.container#meetings
		.row
			.span12
				%h1.bitter Sign Up for a Monthly Loop Meeting
				%p <b>Recommended:</b> #{ link_to 'Sign up for a monthly meeting', monthly_path} <br> <span style="font-size: 14px"> (You can always cancel or change your date if something comes up.)</span>
		.row
			.span12
				%h1.bitter Sign Up for Your Next Loop Meeting
				%p <ul>
				%li #{ link_to 'Wednesday, December 4th at 8am and 6pm', meetingfour_path}
				%li #{ link_to 'Wednesday, December 11th at 8am and 6pm', meetingone_path}
				%li #{ link_to 'Wednesday, December 18th at 8am and 6pm', meetingtwo_path}
				</ul>
		.row
			.span12
				%h1.bitter Past Loop Meetings
				%p Lost a business card? Need a reminder? #{ link_to "Email us to see who you've looped with.", "mailto:hello@loopmeetings.com?Subject=Show me my Loop Meetings!", :target => :_blank}
		.row
			.span12
				%h1.bitter Change Personal Information
				%p Has your personal or professional information changed? #{ link_to "Tell us what's changed here.", update_path}
		.row
			.span12
				%h1.bitter Join Our LinkedIn Group
				%p Want to talk with other Loop members? #{ link_to "Join our Members Only LinkedIn community.", href="http://www.linkedin.com/groups?home=&gid=6534322", :target => :_blank}