<div class="dark center">
	<div class="container">
		<div class="row">
			<h2 class="span12 bitter">Sign In</h2>
		</div>
	</div>
</div>
<div class="container" style="padding-top: 50px;">
	<div class="row">
		<div class="span4 offset4">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <div><%= f.label :email, class: "center" %>
			  <%= f.email_field :email, :autofocus => true, class: "span4" %></div>

			  <div><%= f.label :password, class: "center" %>
			  <%= f.password_field :password, class: "span4" %></div>
				
				<div><%= f.submit "Sign in", class: "apply-button button-dark span4", style: "border-top: none; border-left: none; border-right: none; width: 100%; margin: 20px 0;" %></div>
			  
			  <% if devise_mapping.rememberable? -%>
			    <div>
			    	<%= f.label :remember_me, class: "checkbox" do %>
			    		<%= f.check_box :remember_me %> 
			    		Remember Me
			    	<% end %>
			    </div>
			  <% end -%>

			  
			<% end %>
			<div class="center">
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>